# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.metadata
*.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Misc
*.swp
*.swo
.DS_Store
.env
.env.local
